.form-signUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 43.625vw;
    height: 72.692vh;

    form {
        display: flex;
        flex-direction: column;
        height: 61.73vh;
        width: 100%;

        .input-group {
            margin-bottom: 3vh;
            height: 9.62vh;

            label {
                color: #74C4F5;
                font-family: Inter;
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 700;
                line-height: 2.5rem;
            }

            input {
                font-family: Inter;
                font-size: 0.875rem;
                line-height: 2.5rem;
                color: #74C4F5;
                width: 100%;
                border: none;
                outline: none;
                background: none;
                box-shadow: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                border-bottom: 1px solid #74C4F5;
            }

            input::placeholder {
                color: #686D74;
            }
        }

    }

    .error-message {
        color: red;
        margin-bottom: 20px;
    }

    .button-container {

        @include button-style
    }

    .submit-button {
        margin-top: 10vh;

    }
}

@media (max-width: 768px) {
    .form-signUp {
        width: 80vw;
        align-items: center;
        margin: 1.62rem 2rem 5.81rem 2rem;
    }

}