.about_frame {
    width: 23.4375rem;
    height: 50.9375rem;
    flex-shrink: 0;
    background: linear-gradient(301deg, rgba(0, 80, 157, 0.42) 0.64%, rgba(33, 33, 33, 0.81) 8.97%, #212121 49.23%), url(https://s3-alpha-sig.figma.com/img/5f86/8866/47e91bd7301c82d6d2df06980fa76adb?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=IVPlo5082409XcmZoDW0BDMZVpaO17pBl6Fxxlk2EUe3X1lTssNIDSJbxIKhfYcLlH5HywLVzgSYjuWki-z-n8gbz4lZA7-As-OHRX9HwDgF8gOG2eNOWviTrwNg1uvYKXsrLYrT-HHdYwh8EhMWyNxzlZhkNLlEnUb4467mMgRse~WfmP31YLYWrOwNTadFPFzILR9YcGlD8FDae4ZpOcvT3DqE8vQAF0m-7x4Hz8QEv3pv5NE14VqHDSWEXvb0vhqrPrVXL5hdmgeey9uhduspIiDeKBefR119uEwYVPl-m5idJPmBYehIOKCEQUXwu3LpMyei6P5ZLmNI4fJsbg__) lightgray -660px -12.202px / 388.267% 103.288% no-repeat;

    .aboutPage {
        display: flex;
        width: 23.4375rem;
        height: 48.0625rem;
        padding: 0rem 1.25rem 5rem 1.6875rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.25rem;
        flex-shrink: 0;

        .tittle_frame {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .tittle {
                width: 20.4375rem;
                height: 5.3125rem;
                color: #74C4F5;
                font-family: Rowdies;
                font-size: 1.875rem;
                font-style: normal;
                font-weight: 400;
                line-height: 6.5rem;
                /* 346.667% */
            }

            .line {
                width: 18.75rem;
                height: 0.0625rem;
                background: #74C4F5;
            }
        }

        .info {
            width: 18.75rem;
            height: 30.625rem;
            flex-shrink: 0;
            color: #FFF;
            font-family: Inter;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            span {
                @include font-intel-regular;
                color: $colorSecondary;
                font-size: 0.875rem;
                line-height: normal;
            }

            .subtittle {
                @include font-intel-bold;
            }

        }

    }
}

@media (min-width: 768px) {
    .about_frame {
        width: 23.4375rem;
        height: 50.9375rem;
        flex-shrink: 0;
        background: linear-gradient(301deg, rgba(0, 80, 157, 0.42) 0.64%, rgba(33, 33, 33, 0.81) 8.97%, #212121 49.23%), url(https://s3-alpha-sig.figma.com/img/5f86/8866/47e91bd7301c82d6d2df06980fa76adb?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=IVPlo5082409XcmZoDW0BDMZVpaO17pBl6Fxxlk2EUe3X1lTssNIDSJbxIKhfYcLlH5HywLVzgSYjuWki-z-n8gbz4lZA7-As-OHRX9HwDgF8gOG2eNOWviTrwNg1uvYKXsrLYrT-HHdYwh8EhMWyNxzlZhkNLlEnUb4467mMgRse~WfmP31YLYWrOwNTadFPFzILR9YcGlD8FDae4ZpOcvT3DqE8vQAF0m-7x4Hz8QEv3pv5NE14VqHDSWEXvb0vhqrPrVXL5hdmgeey9uhduspIiDeKBefR119uEwYVPl-m5idJPmBYehIOKCEQUXwu3LpMyei6P5ZLmNI4fJsbg__) lightgray -660px -12.202px / 388.267% 103.288% no-repeat;

        .aboutPage {
            display: flex;
            width: 23.4375rem;
            height: 48.0625rem;
            padding: 0rem 1.25rem 5rem 1.6875rem;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.25rem;
            flex-shrink: 0;

            .tittle_frame {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .tittle {
                    width: 20.4375rem;
                    height: 5.3125rem;
                    color: #74C4F5;
                    font-family: Rowdies;
                    font-size: 1.875rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 6.5rem;
                    /* 346.667% */
                }

                .line {
                    width: 18.75rem;
                    height: 0.0625rem;
                    background: #74C4F5;
                }
            }

            .info {
                width: 18.75rem;
                height: 30.625rem;
                flex-shrink: 0;
                color: #FFF;
                font-family: Inter;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                span {
                    @include font-intel-regular;
                    color: $colorSecondary;
                    font-size: 0.875rem;
                    line-height: normal;
                }

                .subtittle {
                    @include font-intel-bold;
                }

            }

        }
    }
}

@media (min-width: 1280px) {
    .about_frame {
        width: 80.1875rem;
        height: 46.1875rem;
        flex-shrink: 0;
        background: linear-gradient(301deg, rgba(0, 80, 157, 0.42) 0.64%, rgba(33, 33, 33, 0.81) 8.97%, #212121 49.23%), url(https://s3-alpha-sig.figma.com/img/5f86/8866/47e91bd7301c82d6d2df06980fa76adb?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=IVPlo5082409XcmZoDW0BDMZVpaO17pBl6Fxxlk2EUe3X1lTssNIDSJbxIKhfYcLlH5HywLVzgSYjuWki-z-n8gbz4lZA7-As-OHRX9HwDgF8gOG2eNOWviTrwNg1uvYKXsrLYrT-HHdYwh8EhMWyNxzlZhkNLlEnUb4467mMgRse~WfmP31YLYWrOwNTadFPFzILR9YcGlD8FDae4ZpOcvT3DqE8vQAF0m-7x4Hz8QEv3pv5NE14VqHDSWEXvb0vhqrPrVXL5hdmgeey9uhduspIiDeKBefR119uEwYVPl-m5idJPmBYehIOKCEQUXwu3LpMyei6P5ZLmNI4fJsbg__) lightgray 0px 0.701px / 100% 100.095% no-repeat;

        .aboutPage {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            gap: 0.625rem;

            .tittle_frame {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1.0625rem;

                .tittle {
                    width: 22.3125rem;
                    height: 5.125rem;
                    color: #74C4F5;
                    font-family: Rowdies;
                    font-size: 2.5rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 6.5rem;

                }

                .line {
                    width: 48.75rem;
                    height: 0.0625rem;
                    background: #74C4F5;
                }
            }

            .info {
                width: 18.75rem;
                height: 30.625rem;
                flex-shrink: 0;
                color: #FFF;
                font-family: Inter;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                span {
                    @include font-intel-regular;
                    color: $colorSecondary;
                    font-size: 0.875rem;
                    line-height: normal;
                }

                .subtittle {
                    @include font-intel-bold;
                }

            }

        }
    }

}