.about-page {
    background-image: url('/bg-about-mobile.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    width: 100%;
    height: auto;

    .info {
        padding: 0rem 1.88rem 5rem 1.88rem;

        .text {

            h1 {
                margin-bottom: 1.25rem;
                color: $colorSecondary;
                font-size: 1.875rem;
                font-weight: 400;
            }

            hr {
                width: 18.75rem;
                margin: 0rem;
                border-color: $colorSecondary;
            }

            p {
                padding: 1.25rem 0rem;
                width: 18.75rem;
                height: 30.625rem;
                flex-shrink: 0;
                color: #FFF;
                font-family: Inter;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 400;
                margin-top: 0rem;

                span {
                    font-weight: 800;
                    color: $colorSecondary;
                }
            }
        }

        .image-container {
            display: none;
        }
    }
}

@media (min-width: 830px) {

    .about-page {
        background-image: url('/bg-about-desktop.webp');

        .info {
            display: flex;
            padding: 5.78vw 9.06vw;
            justify-content: center;
            align-items: center;
            position: relative;
            height: 40.88vw;

            .text {
                width: 61vw;

                h1 {
                    font-size: 3vw;
                }

                hr {
                    width: 61vw;
                }

                p {
                    width: 45vw;
                    height: 25vw;
                    font-size: 1.2vw;
                }
            }

            .image-container {
                z-index: 1;
                display: block;
                width: 33.13vw;
                height: 40.86vw;
                background-image: url('/elf.webp');
                background-size: cover;
                background-position: center;
                transform: translateX(-40%);
            }
        }
    }
}