.events-page {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;

    .events-list {
        margin-top: 2.25rem;

    }

    .events-title {

        .title {
            height: 5.125rem;
            color: #FFF;
            text-align: center;
            font-family: Rowdies;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 400;
            line-height: 6.5rem;
        }

        hr {
            width: 18.75rem;
            border-color: #7DADE8;
            margin-top: 1.6rem;
        }
    }
}

@media (min-width: 768px) {

    .events-page {
        align-items: center;
        height: 58.8377vw;
        flex-shrink: 0;
        background-image: url('/public/eventsBG.png');
        background-size: cover;
        background-repeat: no-repeat;

        .events-title {
            margin-top: 2.08vw;
            width: 67.21vw;
            height: 8.39vw;

            .title {
                font-size: 3.33vw;
            }


            hr {
                margin-top: 1.88vw;
                width: 67.21vw;
                margin-bottom: 9.17vw;
            }
        }

        .events-list {
            margin-top: 5rem;
            display: flex;
            flex-direction: row;
            align-items: center;

        }
    }
}

@media (min-width: 1280px) {
    .events-page {
        height: 44.48vw;
        background: none;

        .events-list {
            margin-top: 3.81rem;

        }
    }
}