.bg-galery {
    background: linear-gradient(0deg, rgba(0, 80, 157, 0.76) 0%, rgba(0, 80, 157, 0.76) 100%), url('/public/indexBG.webp') lightgray 50% / cover no-repeat;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 69%;
    text-align: center;

    .flex-galery-position {
        @include columnJC;

    }

    h1 {
        color: white;
        text-align: center;
    }

    .rectangle-504 {
        background-color: black;
        width: 17rem;
        height: 0.125rem;
    }
}





@media (max-width: 750px) {
    .bg-galery {

        background: linear-gradient(0deg, rgba(3, 73, 174, 0.76) 0%, rgba(3, 73, 174, 0.76) 100%), url('/public/indexBG.webp') lightgray 50% / cover no-repeat;

        h1 {
            font-size: 2.5rem;
            margin-bottom: 0.8rem;
        }

        .rectangle-504 {
            width: 40rem;
            height: 0.125rem;
        }
    }


}






@media (max-width:1500px) {


    .bg-galery {
        height: 100vh;

        .rectangle-504 {
            width: 80vw;
        }
    }
}

@media (min-width:1500px) {


    .bg-galery {
        height: 100vh;
    }

    .rectangle-504 {
        width: 60rem !important;
    }
}