.block-section-total-SignUp {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .main-text-signUp {
        transform: translateX(+25%);

        .buttons-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    }

}


@media (max-width: 768px) {
    .block-section-total-SignUp {

        .main-text-signUp {
            transform: none;
        }
    }
}