.image-container {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 90vw;
        object-fit: cover;
    }

    .closeButtonModal {
        background: none;
        border: none;
        font-size: 1.5em;
        cursor: pointer;
        z-index: 1;

        p {
            color: $colorSecondary;
            margin: 0rem;
            font-size: 2rem;
            font-weight: 900;
        }
    }
}

@media (min-width: 768px) {
    .image-container {
        img {
            width: 700px;
            height: 700px;
        }
    }
}