.image-container {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100vw;
        object-fit: cover;
    }
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: transparent;
}

.close-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: $colorTertiary;
    color: #fff;
    transition: background-color 0.3s;

    &:hover {
        background-color: $colorPrimary;
    }
}

@media (min-width: 655px) {
    .image-container {
        img {
            width: 600px;
            height: 600px;
        }
    }
}