.event-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.0625rem;
    width: 17.9rem;
    height: 21.5rem;
    margin-bottom: 1.12rem;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);

        .image {
            background-blend-mode: normal;
            filter: drop-shadow(0 0 3px $colorSecondary);
        }
    }

    .image {
        display: flex;
        width: 17.875rem;
        height: 17.875rem;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 80, 157, 0.46);
        border-radius: 0.9375rem;
        background-blend-mode: overlay;
        transition: filter 0.3s ease;
        background-image: url('https://i.imgur.com/EZSKaII.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .date {
        color: #FFF;
        width: 100%;
        height: 2.5625rem;
        text-align: center;
        font-family: Rowdies;
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.375rem;
    }
}

@media (min-width: 768px) {

    .event-card {
        width: 24.72vw;
        margin-right: 2.12rem;

        &:last-child {
            margin-right: 0;
        }

        .image {
            width: 24.72vw;
            height: 24.72vw;
        }

    }

}

@media (min-width: 1280px) {

    .event-card {

        margin-right: 2.82vw;
        width: 26.25vw;
        height: 29.73vw;

        .image {
            width: 26.25vw;
            height: 26.25vw;
        }

        .date {
            color: #FFF;
            width: 100%;
            height: 3.40vw;
            text-align: center;
            font-family: Rowdies;
            font-size: 1.83vw;
            font-style: normal;
            font-weight: 400;
            line-height: 2.375rem ≈ 3.16vw;
        }


    }

}