/* Ajustes generales para el contenedor del Swiper */
.swiper {
  width: 100vw; /* Ancho al 100% del contenedor */
  max-width: 19.87981rem; /* Ancho máximo para los slides */
  margin: 10rem auto; /* Centrar horizontalmente */
  overflow: hidden; /* Ocultar contenido que se desborde */
}

/* Estilos para cada slide del Swiper */
.swiper-slide {
   width: 13.87981rem !important; /* Ancho específico */
  height: 12.09119rem !important; /* Altura específica */
  background-image: url('/public/indexBG.png'); /* Imagen de fondo */
  rotate: 90deg;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); /* Forma de hexágono */
  display: flex; /* Usar flexbox para centrar el contenido */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}



@media (max-width: 750px) {
  /* Estilos para dispositivos móviles */
  .swiper {
    transform: rotate(90deg); /* Rotar el Swiper */
    max-width: 100%; /* Ancho máximo al 100% */
    height: 50vw; /* Altura al 50% del viewport width */
  }

  /* Ajustes para cada slide en dispositivos móviles */
  .swiper-slide {
    width: 100%; /* Ancho al 100% */
    height: auto; /* Altura automática */
  }
}
