$colorPrimary: rgba(0, 80, 157, 1);
$colorSecondary: rgba(116, 196, 245, 1);
$colorTertiary: rgba(75, 116, 141, 1);

$bgPrimary:rgba(33,33,33,1);







@mixin rowJC {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

}

@mixin rowJB {
    display: flex;
    flex-flow: row nowrap;
       align-items: center;
    justify-content: space-between;
}

@mixin rowJA {
    display: flex;
    flex-flow: row nowrap;
       align-items: center;
    justify-content: space-around;
}

@mixin columnJC {
    display: flex;
    flex-flow: column nowrap;
       align-items: center;
    justify-content: center;
}

@mixin columnJA {
    display: flex;
    flex-flow: column nowrap;
       align-items: center;
    justify-content: space-around;
}

@mixin columnJB {
    display: flex;
    flex-flow: row nowrap;
       align-items: center;
    justify-content: space-between;
}

body {
background-color: $bgPrimary;
margin: 0;


}

button{
    background-color:transparent;
    border: none;
}